.chat-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.chat-form__field {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
}

.chat-form__btn {
  font-weight: 700;
}

.chat-form__btn-label {
  display: grid;
}

.chat-form__btn-hint {
  font-size: 0.8em;
  font-weight: normal;
}
