body {
  margin: 0;

  font-size: 16px;
  font-family: monospace;
  background-color: whitesmoke;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
