.game-screen {
  display: grid;
  place-content: center;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr minmax(auto, 400px) 1fr;
  grid-template-areas:
    "term term term"
    "user hang chat"
    "tops hang chat"
    "tops rules chat";
  gap: 10px;

  min-height: 100vh;
}

.game-screen__heading {
  margin: 0 0 10px;
}

.game-screen__user-list {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px -2px darkslategrey;
}

.game-screen__user-info {
  grid-area: user;
}

.game-screen__term {
  grid-area: term;
  place-self: end center;

  display: flex;

  font-family: "Special Elite", monospace;
  font-size: 54px;
}

.game-screen__term--won {
  color: darkgreen;
}

.game-screen__term--lost {
  color: maroon;
}

.game-screen__term-letter {
  width: 48px;
  text-align: center;
}

.game-screen__user-list {
  grid-area: tops;
}

.game-screen__chat {
  grid-area: chat;

  display: grid;
}

.game-screen__game-state {
  grid-area: hang;
  position: relative;
}

.game-screen__mistakes {
  position: absolute;
  top: 80px;
  right: 80px;
}

.game-screen__instructions {
  grid-area: rules;

  font-style: italic;
  color: darkslategrey;
}

.game-screen__instructions p {
  margin: 0 0 10px 0;
}

.leaderboard {
  margin: 0;
  padding: 0 0 0 30px;
}

.leaderboard__entry--own {
  font-weight: 700;
}
