.chat {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto;
  gap: 10px;
}

.chat__history,
.chat__form {
  padding: 10px;

  border-radius: 5px;
  box-shadow: 1px 1px 5px -2px darkslategrey;
}

.chat__history {
  position: absolute;
  grid-row: 1 / span 1;

  width: 100%;
  height: 100%;
  margin: 0;

  list-style: none;
  overflow: auto;
}

.chat__history::-webkit-scrollbar {
  width: 5px;
}

.chat__history::-webkit-scrollbar-thumb {
  background-color: rgba(112, 128, 144, 0.5);
}

.chat__message {
  padding: 0 5px;
  margin-bottom: 5px;
}

.chat__message--server {
  color: grey;
  font-style: italic;
}

.chat__message--guess {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(231, 231, 231);
}

.chat__sender {
  color: darkslategrey;
  font-weight: 700;
}

.chat__form {
  grid-row: 2;
}
